<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-label>Se7ents</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-label>Friends</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-label>Profile</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
